* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: 100%;
  font-family: "Atkinson Hyperlegible", sans-serif;
}

a {
  text-decoration: none;
  color: black;
  display: block;
}

.container {
  padding: 1rem;
  border-radius: 5px;
}

.button-box {
  position: relative;
  width: 12rem;
  margin: 30px auto;
  display: flex;
  box-shadow: 0 0 20px 20px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  position: relative;
  cursor: pointer;
  flex: 50%;
  outline: none;
  padding: 10px 10px;
  background: transparent;
  border: none;
}

#btn-shift {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  transition: 0.5s;
  border-radius: 30px;
  border: none;
}

label {
  font-size: 14px;
}

.fields {
  margin: 10px 0;
}

.input-group {
  top: 180px;
  transition: 0.5s;
}

input {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  border: none;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

input:focus {
  outline: none;
}

.submit {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: 10px auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

#logout {
  width: 45%;
  padding: 6px 20px;
}

.card {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
